# Direct access token option:
NEXAR_TOKEN=

# Or client credentials option:
NEXAR_CLIENT_ID=
NEXAR_CLIENT_SECRET=
NEXAR_SCOPE=supply.domain

NEXAR_COUNTRY=CZ
NEXAR_API_URL=https://api.nexar.com/graphql
PORT=5174
